.modal-box-wrapper {
  width: 545px;
  @media screen and (max-width: 480px) {
    width: 300px;
  }
}

.modal-header-content {
  display: flex;
  justify-content: flex-end;
}

.modal-details {
  display: flex;
  flex-direction: column;
  padding: 0 30px 26px 30px;
  row-gap: 24px;
  .modal-content {
    box-shadow: none !important;
    display: flex;
    gap: 16px;
    align-items: center;
    flex-direction: column;

    .modal-text-and-icon {
      box-shadow: none !important;
      display: flex;
      column-gap: 24px;
      justify-content: flex-start;
      width: 100%;
      .modal-text {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }
  }
  .modal-content-header {
    color: #788892;
    font-size: 20px;
  }
  .modal-buttons {
    display: flex;
    column-gap: 24px;
    width: 100%;
  }
}
